parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~
    secret: ThisTokenIsNotSoSecretChangeIt
    ldap_host: 127.0.0.1
    ldap_admin_user: admin
    ldap_admin_pwd: admin
    ldap_dns: dns.exemple.com
    ldap_username_attr: sAMAccountName
    ldap_base_dn: ou=dns,dc=example,dc=com
    ldap_filter: (&(objectClass=user)(objectCategory=person))